<%- include('header') %>
<body>

<h2 class="text-center">Enter Password to Continue</h2>
  <div class="container d-flex justify-content-center min-vh-100">
    <form method="POST" action="/admin/login" >
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        required />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>