<%- include('header') %>

<body>

    <h1>Welcome to Darul Uloom Charbari</h1>

    <ul>
        <% for (let user of insertData) { %>

         <li> Name : <a href="/users/<%= user._id %>"><%= user.name %></a></li>


        <% } %>
    </ul>

</body>
</html>